@using SC2APIProtocol
@using Web.Services
@inject SC2Client sc2Client
@implements IDisposable

@if (CanInitializeGame)
{
  <div class="bg-gray-800/50 text-gray-50 shadow rounded-lg">
    <div class="border-b border-gray-700">
      <div class="-mb-px flex" aria-label="Tabs">
        <button class="tab @(activeTab == "create" ? "tab-active" : "tab-inactive")"
          @onclick='() => activeTab = "create"'>
          Create Game
        </button>
        <button class="tab @(activeTab == "host" ? "tab-active" : "tab-inactive")" @onclick='() => activeTab = "host"'>
          Host Game
        </button>
        <button class="tab @(activeTab == "join" ? "tab-active" : "tab-inactive")" @onclick='() => activeTab = "join"'>
          Join Multiplayer
        </button>
      </div>
    </div>
    <div class="p-4">
      @if (activeTab == "create")
      {
        <CreateGame />
      }
      else if (activeTab == "host")
      {
        <HostMultiplayerGame />
      }
      else
      {
        <JoinMultiplayerGame />
      }
    </div>
  </div>
}

@code {
  private string activeTab = "create";

  private bool CanInitializeGame => sc2Client.CurrentStatus == Status.Launched ||
  sc2Client.CurrentStatus == Status.Ended ||
  sc2Client.CurrentStatus == Status.Unknown ||
  sc2Client.CurrentStatus == Status.InitGame;

  protected override void OnInitialized()
  {
    sc2Client.OnGameStateChanged += Refresh;
  }

  private void Refresh() => InvokeAsync(StateHasChanged);


  public void Dispose()
  {
    sc2Client.OnGameStateChanged -= Refresh;
  }
}