@inherits LayoutComponentBase

<div class="flex flex-col md:flex-row h-screen">
    <main class="
        flex-1 flex flex-col min-w-0 overflow-auto 
        bg-linear-to-tr from-[#010e23] to-[#0e1a11]
        text-zinc-400
    ">
        <article class="p-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet
    class="fixed bottom-0 left-0 w-full z-50 bg-yellow-100 text-yellow-900 p-4 shadow-lg hidden">
    An unhandled error has occurred.
    <a href="." class="reload underline font-bold">Reload</a>
    <span class="dismiss cursor-pointer font-bold float-right">🗙</span>
</div>