@page "/"
@using SC2APIProtocol
@using System.Net.WebSockets
@using Web.Services
@using Web.Components.InitGame
@inject SC2Client SC2Client
@rendermode InteractiveServer

<PageTitle>StarCraft II Bot Controller</PageTitle>

<h1>StarCraft II Bot Controller</h1>

<ConnectionManager />

@if (SC2Client.ConnectionState == WebSocketState.Open)
{
    if (SC2Client.CurrentStatus == Status.Launched || SC2Client.CurrentStatus == Status.Ended || SC2Client.CurrentStatus ==
    Status.InitGame)
    {
        <GameInit />
    }
    else if (SC2Client.CurrentStatus == Status.InGame)
    {
        <div class="bg-gray-800/50 text-white shadow rounded-lg mb-3">
            <div class="p-4">
                <h5 class="text-lg font-medium mb-2">In Game</h5>
                <button class="px-4 py-2 rounded font-semibold transition-colors duration-200 bg-red-500 text-white hover:bg-red-600" @onclick="LeaveGame">Leave Game</button>
            </div>
        </div>
    }


    <GameState />

    <RequestHistory />
}

@code {

    protected override void OnInitialized()
    {
        SC2Client.OnGameStateChanged += HandleGameStateChanged;
        SC2Client.OnConnectionStateChanged += Refresh;
    }
    public void Dispose()
    {
        SC2Client.OnGameStateChanged -= HandleGameStateChanged;
        SC2Client.OnConnectionStateChanged -= Refresh;
    }

    private void Refresh() => InvokeAsync(StateHasChanged);

    private void HandleGameStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }
    private async Task LeaveGame()
    {
        var request = new Request { LeaveGame = new RequestLeaveGame() };
        var response = await SC2Client.SendRequestAsync(request);

        await SC2Client.PingAsync();
    }
    private async Task ListMaps()
    {
        var maps = await SC2Client.GetAvailableMapsAsync();
    }
}