@page "/host-game"
@using Microsoft.AspNetCore.DataProtection.KeyManagement
@using Web.Components.InitConnection
@using Web.Components.InitGame
@using Web.Services
@rendermode InteractiveServer

<PageTitle>Host Game</PageTitle>
<div class="flex items-center mb-4">
  <h1 class="text-2xl font-bold text-white">Host Multiplayer Game</h1>
</div>

<CustomErrorBoundary>
  <ClientAndConnection Key=@Key />
</CustomErrorBoundary>

<div class="p-4">
  <CustomErrorBoundary>
    <CreateOrLeaveGame Type="multiplayer" Key=@Key />
  </CustomErrorBoundary>

  <CustomErrorBoundary>
    <GameState Key=@Key />
  </CustomErrorBoundary>

  <CustomErrorBoundary>
    <RequestHistory Key=@Key />
  </CustomErrorBoundary>
</div>


@code {

  private string Key = "Player1";
}